@page "/logout"
@inherits LogoutPage

<PageTitle>Dima - Sair</PageTitle>

<MudText Typo="Typo.h3">Finalizando Sessão...</MudText>
<MudPaper Class="pa-8 mt-4">
    <div class="d-flex justify-center pb-8 pt-8">
        <img src="imgs/dima.png" alt="Dima - Seu Controle Financeiro" width="200"/>
    </div>
    <MudAlert Severity="Severity.Info">
        <div>
            <MudText>Sua sessão será encerrada. Obrigado por usar o Dima.</MudText>
            <div class="mt-3 d-flex gap-4">
                <MudButton Variant="Variant.Filled" Color="Color.Warning" Href="/" OnClick="ToGoPageLogin">
                    Encerrar
                </MudButton>
                <MudButton Href="/" Variant="Variant.Filled" Color="Color.Info">
                    Voltar
                </MudButton>
            </div>
        </div>
    </MudAlert>
</MudPaper>