<div class="d-flex justify-center py-8">
    <img 
        src="imgs/logo.png" 
        alt="Dima - Seu Controle Financeiro"
        width="200"
    />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/releases/history">Histórico</MudNavLink>
    <MudNavLink Href="/categories">Categorias</MudNavLink>
    <MudNavLink Href="/premium">Premium</MudNavLink>
    <MudNavLink Href="/logout">Sair</MudNavLink>
</MudNavMenu>
@* ---------------------------------------------------------- 
 * Usar o Match="NavLinkMatch.All" faz com que o componente 
 * verifique a rota por completa e não somente o prefixo
 * ---------------------------------------------------------- *@